@import url(common.css);

* {
    box-sizing: border-box;
  }

.g-container{
    width: 100%;
    height: 100%;
}

.container {
    margin: auto;
    max-width: 1280px;
}

header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: static;
}

.logo {
    max-width: 200px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.nav {
    width: 20%;
    font-size: large;
    font-weight: bold;
}

/* 아파트, 빌라,투룸... 과 로그인 서로 양쪽 끝 배치 */
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_main {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #000;
    margin-top: 10px;
}

.menu_login {
    display: flex;
    align-items: center;
    max-width: 600px;
    gap: 10px;
}

.login_button {
    font-size: 16px;
    width: fit-content;
    padding: 0px 10px;
    height: 80%;
    margin-right: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
}

.login_side {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    cursor: pointer;
}

/* 아파트, 빌라,투룸... 과 로그인 각각각 스타일 적용용 */
.dropdown_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.menu_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    border: 1px solid #000;
    cursor: pointer;
}

.menu_side:hover {
    background-color: #e6e2e2;
}

.button {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
}

.img_list {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.circle {
    cursor: pointer;
    flex-direction: column;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
}

main {
    /* border: 1px solid #000; */
    /* height: 700px; */
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    overflow: visible;
}

.main_parents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main_top {
    display: flex;
    flex-direction: column;
}

.main_style {
    height: 700px;
    display: flex;
    flex-direction: row;
}

.circle_list {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle_info.active .circle {
    background-color: #fff5e1;
}

.main_content {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu_title {
    font-size: large;
    font-weight: bold
}

.mini_title {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.mini_direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.circle_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    /* margin-right: px; */
}
.search_btn {
    font-size: 15px;
    background-color: orange;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.search {
    border-radius: 12px;
    display: flex;
    border: solid;
    border-color: #ccc;
    width: 70%;
    height:fit-content;
    gap: 20;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.search_text {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: gray;
}

/* 검색 아이콘 */
.material-symbols-outlined {
    font-size: 100px;
}

.buildings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-behavior: smooth;
    height: 100%;
    overflow-y: auto;
}

.building_info {
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #000;
    width: 200px;
    height: 250px;
    cursor: pointer;
}

.building_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.building_details {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: white;
}

.house_count {
    background-color: rgb(255, 166, 0);
    border: none;
    margin-top: auto;
    width: 100%;
    margin-bottom: 10px;
}

.side_menu {
    margin: 0px 15px;
    margin-top: 15px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 1px solid #000; */
}

.side_title {
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.title_text {
    font-size: 20px;
}

.more_button {
    font-size: 16px;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.side_content{
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.text_line {
    margin: 5px 0px;
    border: 1px solid #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner_top {
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 30px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.banner_img {
    width: 1280px;
    display: block;
    height: 100%;
    cursor: pointer;
}

.banner_boxes {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -115px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.banner_box {
    /* border: 1px solid #000; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    padding: 10px;
    gap: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 10px 5px #dbdbdb;
}

.box_direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon_circle {
    background-color: rgb(255, 238, 221);
    border-radius: 50%;
    /* border: 1px solid #000; */
    width: 50px;
    height: 50px;
    padding: 5px;
}

.building_icon {
    width: 100%;
    height: 100%;
}

.box_text {
    font-size: 14px;
    font-weight: bold;
}

.next_icon {
    width: 19px;
    height: 25px;
}

.footer_style {
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 90%;
    list-style-type: none;
    margin-bottom: 50px;
    flex-shrink: 0;
}

.click_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    gap: 5px;
    cursor: pointer;
}