@import url(common.css);

* {
    box-sizing: border-box;
  }

.g-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  width: 100%;
  min-height: 0;
}

header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0px 10px 5px #dbdbdb;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header_top {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  margin: 30px 0px;
  box-shadow: 0px -8px 8px #e3e3e3;
}

.header_top > img {
    max-width: 200px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.login {
    font-size: 16px;
    width: fit-content;
    padding: 0px 10px;
    height: 80%;
    margin-right: 15px;
    border: 3px #ffd181 solid;
    border-radius: 15px;
    cursor: pointer;
}

.menu_login > div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    cursor: pointer;
    gap: 8px;
}

.nav {
    width: 20%;
    font-size: large;
    font-weight: bold;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin-top: 10px;
    padding: 6px 0px;
}

.menu_main::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 65px;
    background-color: #FFE0B2;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

.menu_main::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #FFF8EE;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    z-index: -2;
    pointer-events: none;
}

.menu_login {
    display: flex;
    align-items: center;
    max-width: 600px;
    gap: 10px;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.menu_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.mini_title > .mini_direction:hover {
    font-weight: bold;
}

.circle > img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.circle {
    cursor: pointer;
    flex-direction: column;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff5e1;
    border: none;
    border-radius: 50%;
}


.circle_info.active .circle {
    background-color: #ffdf9f;
    border: 2px solid rgb(253, 156, 9);
}

main {
  flex: 1 0 auto;
  min-height: 0;
  display: flex;
  flex-direction: row;
}

.person_img {
    justify-content: center;
    width: 400px;
    height: auto;
}

.person_img > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.main_parents {
    position: relative;
    min-height: 700px;
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_parents::before {
    content: "";
    position: absolute;
    background-image: url("../assets/main.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

.main_top {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.main_style {
    height: 700px;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
}

.circle_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.main_content {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_title {
    font-size: large;
    font-weight: bold
}

.mini_title {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.mini_direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.circle_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.search_btn {
    font-size: 15px;
    background-color: orange;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.search {
    border-radius: 12px;
    display: flex;
    border: solid;
    border-color: #ccc;
    width: 85%;
    height:fit-content;
    gap: 20;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.search > input {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: gray; 
    width: 100%;
    border: none;
}

.material-symbols-outlined {
    font-size: 100px;
}

.buildings {
  padding-top: 15px;
  flex: 1 1 0;
  min-height: 0;
  max-height: 350px;
  gap: 15px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.building_info {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 180px;
    height: 230px;
    cursor: pointer;
    box-shadow: 3px 5px 8px #c3c3c3;
}

.img_box {
    position: relative;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img_box > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img_box > div {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #ffb84dd3;
    color: rgb(69, 69, 69);
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 16px;
    z-index: 2;
    pointer-events: none;
}

.building_info > figcaption {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

figcaption > div:nth-child(2) {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(69, 69, 69);
}

.sides {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_menu {
    margin: 0px 15px;
    padding: 0px 15px;
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFF8EE;
    border-radius: 15px;
    border: none;
}

.menu_tab {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    height: fit-content;
    gap: 20px;
}

.side_title {
    align-items: center;
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.title_text {
    font-size: 20px;
    font-weight: bold;
    color: #FF9821;
}

.more_button {
    font-size: 16px;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #FFE0B2;
    color: #424242;
}

.side_content{
    width: 100%;
    height: fit-content;
    cursor: pointer;
    padding: 15px 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.text_line {
    margin: 10px 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner_top {
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 130px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.banner_img {
    width: 1280px;
    display: block;
    height: 100%;
    cursor: pointer;
}

.banner_boxes {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -115px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.banner_box {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    padding: 10px;
    gap: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 10px 5px #dbdbdb;
}

.box_direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.banner_box:nth-child(1) .box_direction > span {
    background-color: #FFE9A0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.banner_box:nth-child(2) .box_direction > span {
    background-color: #FFEEDD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.banner_box:nth-child(3) .box_direction > span {
    background-color: #FFEEDD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.banner_box:nth-child(4) .box_direction > span {
    background-color: #DDF2FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.building_icon {
    width: 100%;
    height: 100%;
}

.box_text {
    font-size: 14px;
    font-weight: bold;
}

.next_icon {
    width: 19px;
    height: 25px;
}

.footer_style {
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    flex-shrink: 0;
    margin-top: 15px;
}

.click_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    gap: 5px;
    cursor: pointer;
}

ul.slick-dots li button::before {
    font-size: 12px;
}